/* ItemDetail.css */
.containerItemDetail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.containerImage {
  flex: 1;
  min-width: 300px;
}

.containerDetail {
  flex: 1;
  min-width: 300px;
}

.containerDetail h2 {
  font-family: "Arial", sans-serif;
  color: #000000;
}

.containerDetail span {
  color: #000000; /* Color azul del logo */
  font-size: 23px;
}

@media (max-width: 768px) {
  .containerItemDetail {
    flex-direction: column;
    align-items: center;
  }

  .containerImage,
  .containerDetail {
    min-width: 80%;
  }
}
