.containerNavbar {
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
li {
  list-style: none;
}

.categories {
  display: flex;
  align-items: center;
  gap: 20px;
}
.categories a {
  padding: 10px 20px;
  color: #fafafa;
  width: 120px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}
.categories a:hover {
  color: blue;
}

img {
  max-width: 150px;
}
