/* Navbar.css */
.appBar {
  background-color: #000000e5; /* Color azul del logo */
}

.toolBar {
  display: flex;
  justify-content: space-between;
}

.navLink {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  text-transform: uppercase;
}

.navLink:hover {
  background-color: #1b1b1ae8;
}

.drawerList {
  width: 250px;
}

.drawerLink {
  text-decoration: none;
  color: black;
}

.drawerLink:hover {
  color: #002984;
}
