.cards-container {
  margin-left: 0;
  margin-right: 0;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.cards-container img {
  max-width: 200px;
}
